<footer>
    <div class="icons-bar">
        <ul class="socials">
            <li class="socials-item">
                <a href="">
                    <img src="{{ asset('/upload/icon/facebook.svg') }}" alt="">
                </a>
            </li>
            <li class="socials-item">
                <a href="">
                    <img src="{{ asset('/upload/icon/instagram.svg') }}" alt="">
                </a>
            </li>
            <li class="socials-item">
                <a href="">
                    <img src="{{ asset('/upload/icon/snapchat.svg') }}" alt="">
                </a>
            </li>
        </ul>
        <ul class="payments">
            <li class="payments-item">
                <img src="{{ asset('upload/icon/visa.jpg') }}" alt="">
            </li>
            <li class="payments-item">
                <img src="{{ asset('upload/icon/mastercard.jpg') }}" alt="">
            </li>
            <li class="payments-item">
                <img src="{{ asset('upload/icon/pay-pal.jpg') }}" alt="">
            </li>
            <li class="payments-item">
                <img src="{{ asset('upload/icon/american-express.jpg') }}" alt="">
            </li>
            <li class="payments-item">
                <img src="{{ asset('upload/icon/visa-electron.jpg') }}" alt="">
            </li>
        </ul>
    </div>
    <div class="footer-bar">
        <div class="footer-bar__content">
            <div class="copyright">
                © 2020 ASOS
            </div>
            <ul class="footer-nav">
                <li class="footer-nav-item">
                    <a href="">Privacy & Cookies</a>
                </li>
                <li class="footer-nav-item">
                    <a href="">Ts&Cs</a>
                </li>
                <li class="footer-nav-item">
                    <a href="">Accessibility</a>
                </li>
            </ul>
        </div>
    </div>
</footer>