{% extends '/admin/base.html.twig' %}

{% block body %}
    <div class="admin-title">{{ title }}</div>
    <form action="" method="post" enctype="multipart/form-data" id="bannerForm" class="entity-form">
        {{ form_row(form._token) }}
        <div class="form-image">
            <div class="form-group">
                {% if bannerImage is defined %}
                    <div class="entity-form-image entity-form-image--banner"
                         style='background-image: url("{{ bannerImage }}")'>
                    </div>
                {% endif %}
                {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
                <div class="form-error">
                    {{ form_errors(form.image) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form['banner-place']) }}
            {{ form_widget(form['banner-place'], {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(form['banner-place']) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.link) }}
            {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(form.link) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form['button-label']) }}
            {{ form_widget(form['button-label'], {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(form['button-label']) }}
            </div>
        </div>
        <button type="submit" class="entity-form-submit">
            Submit
        </button>
    </form>
{% endblock %}