{% extends '/admin/base.html.twig' %}

{% block body %}
    <div class="admin-title">{{ title }}</div>
    <form action="" method="post" enctype="multipart/form-data" id="categoryForm" class="entity-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" required
                   value="{{ category is defined ? category.title : '' }}">
        </div>
        <div class="form-group">
            <label for="parent">Parent Category</label>
            <select class="form-control" name="parent" id="parent">
                {% for rootCategory in categories %}
                    <option value="{{ rootCategory.id }}"
                            style='font-weight: bold;'
                            {{ category is defined and category.parent.id is same as rootCategory.id ? 'selected' : '' }}
                    >
                        {{ rootCategory.title }}
                    </option>
                    {% for firstLevelCategory in rootCategory.childCategory1 %}
                        <option value="{{ firstLevelCategory.id }}"
                                {{ category is defined and category.parent.id is same as firstLevelCategory.id ? 'selected' : '' }}
                        >
                            -- {{ firstLevelCategory.title }}
                        </option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-image">
            <div class="form-group">
                <div class="entity-form-image entity-form-image--category {{ category is defined and category.image ? '' : 'entity-form-image--deleted' }}"
                        {% if category is defined and category.image %}
                            style="background-image: url('{{ category.image | trim('.') }}')"
                        {% endif %}
                >
                    {{ category is not defined or not category.image ? 'No image' : '' }}
                    {% if category is defined and category.image %}
                        <button type="button"
                                class="entity-form-delete-image-button"
                                name="delete-image"
                                data-id="{{ category is defined and category.id }}"
                                data-image="category.image"
                                data-type="category"
                                onclick="deleteEntityImage(this)">
                            <i class="fas fa-times"></i>
                        </button>
                    {% endif %}
                </div>
                <input class="form-control-file" name="image" id="image" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description"
                      rows="5">{{ category is defined and category.description ? category.description : '' }}</textarea>
        </div>
        <button type="submit" class="entity-form-submit">Submit</button>
    </form>
{% endblock %}